@page "/createproduct"

@using ProjetoFinalAPI.Models;
@using Interfaces;
@using System.Diagnostics;

@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

<h3>CreateProduct</h3>


<EditForm Model="@NewProduct" OnValidSubmit="CreateNewProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 20 characters"
                    @bind-Value="NewProduct.Name"/>
                    <MudNumericField Label="Price" Class="mt-3"
                    @bind-Value="NewProduct.Price"/>
                    <div class="form-group">
                        <label for="categories">Category:</label>
                        <br />
                        <select @onchange="OnselectChanged">
                            <option value="0">Select a Category</option>
                            @foreach (var item in Categories)
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        </select>
                    </div>
                    <MudTextField Label="Description" Class="mt-3"
                    @bind-Value="NewProduct.Description"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
@*
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="@NewProduct.Name" />
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <InputNumber id="price" class="form-control" @bind-Value="@NewProduct.Price" step="0.01" />
    </div>
    <div class="form-group">
        <label for="categories">Category:</label>
        <br />
        <select @onchange="OnselectChanged">
            <option value="0">Select a Category</option>
            @foreach (var item in Categories)
            {
                <option value="@item.CategoryId">@item.Name</option>
            }
        </select>   
    </div>
   
    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" class="form-control" @bind-Value="@NewProduct.Description" />
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Create</button>*@
</EditForm>
<ModalComponent @ref=@Modal Message=@Message></ModalComponent>

