@page "/products"

@using Microsoft.Extensions.Localization;
@using ProjetoFinalAPI.Models;
@using Interfaces;
@using System.Diagnostics;
@using System.Net.Http.Json


@inject HttpClient httpClient
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager


@if (ProductsData == null)
{
    <p>Loading...</p>
}
else
{
   
    <MudTable Items="@ProductsData" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Product,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Products</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Price</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Category">@context.Category.ToString()</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" @onclick="() => DeleteProduct(context.Id)" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Size=" Size.Small">Delete</MudButton>
                <MudButton Variant="Variant.Filled" @onclick="() => EditProduct(context.Id)" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Info" Size="Size.Small">Edit</MudButton>
                <MudButton Variant="Variant.Filled" @onclick="() => EditStockProduct(context.Id)" StartIcon="@Icons.Material.Filled.Receipt" Color="Color.Dark" Size="Size.Small">Edit Stock</MudButton>
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

}

