@page "/editproductstock/{id:int}"
@using ProjetoFinal.Interfaces;

@inject IWebServiceAPI WebServiceAPI



<h2>ProductStock Data</h2>

<br />
<p><strong>Product: </strong>@ProductData.Name | <strong>Quantity: </strong>@ProductData.Quantity</p>

<br />

@if (ProductData.IsDeleted == false)
{
    <div>
    <MudNumericField @bind-Value="stockQuantity" Label="Stock Quantity"></MudNumericField>
    <br />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="() => AddStock(true)">Buy Stock</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="() => AddStock(false)">Sell Stock</MudButton>
    </div>
}

<p></p>
<table class="table">
    <thead>
        <tr>
            <th><strong>Type</strong></th>
            <th><strong>Quantity</strong></th>
            <th><strong>Date</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in productStocks)
        {
            <tr>
                <td>@(stock.IsEntry ? "Stock Bought" : "Stock Sold")</td>
                <td>@stock.Quantity</td>
                <td>@stock.CreatedAt.ToString("dddd, dd MMMM yyyy HH:mm").ToUpper()</td>
                <td>
                    <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="() => DeleteStock(stock)">Delete</MudButton>
                </td>
            </tr>
        }
    </tbody>
</table>

<ModalComponent @ref=@Modal Message=@Message></ModalComponent>
