@page "/stocks"

@using Microsoft.Extensions.Localization;
@using ProjetoFinal.Interfaces;
@using ProjetoFinalAPI.Models;
@inject IWebServiceAPI WebServiceAPI





@if (StocksData == null)
{
    <p>Loading...</p>
}
else
{
    <MudTable Items="@StocksData" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Stock,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h2">All Stocks</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><strong>Name</strong></MudTh>
            <MudTh><strong>Category</strong></MudTh>
            <MudTh><strong>Type</strong></MudTh>
            <MudTh><strong>Quantity</strong></MudTh>
            <MudTh><strong>Date</strong></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Product.Name</MudTd>
            <MudTd DataLabel="Category">@context.Product.Category.ToString()</MudTd>
            <MudTd DataLabel="Type">@(context.IsEntry ? "Stock Bought" : "Stock Sold")</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="Date">@context.CreatedAt.ToString("dddd, dd MMMM yyyy HH:mm").ToUpper()</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" @onclick="() => DeleteStock(context)" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Size=" Size.Small">Delete</MudButton>
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

