
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjetoFinal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <MudPaper Width="250px" Class="py-3" Elevation="0">
        <MudNavMenu>
            <MudNavGroup Title="Products" @bind-Expanded=_isExpanded>
                <MudNavLink Href="/products" Icon="@Icons.Material.Filled.Storage">Products Data</MudNavLink>
                <MudNavLink Href="/createproduct" Icon="@Icons.Material.Filled.Phone">Create Products</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/stocks" Icon="@Icons.Material.Filled.Receipt">Stocks</MudNavLink>
            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        </MudNavMenu>
    </MudPaper>
   
</div>



@code {
    private bool collapseNavMenu = true;

    bool _isExpanded = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
